.carousel {
    width: 100vw;
    padding-top: 30px;
}

.carousel-title {
    width: 100vw;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 500;
}

.carousel-description {
    width: 100vw;
    font-size: 24px;
    color: white;
    opacity: .75;
    text-align: center;
    padding-top: 5px;
}

.carousel-body {
    overflow: auto;
    white-space: nowrap;
    /* overflow-x: hidden; */
    
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.carousel-body img {}

.carousel-album {
    width: 280px;
    display: inline-block;
}

.carousel-album_cover {
    padding: 20px 0 15px 25px;
}
.carousel-album:last-child {
    padding-right: 25px;
}

.carousel-album_cover img {
    width: 250px;
    height: 250px;
}

.carousel-album_title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.carousel-album_info {
    padding-top: 10px;
    font-size: 24px;
    opacity: .75;
    text-align: center;
}