.albums-container {
    width: 100vw;
}
.albums-container img {
    position: relative;
    left: 50%;
    padding-top: 50px;
    transform: translate(-50%, 0%)
    
}

h2, h3 {
    text-align: center;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 18px;
    opacity: .75;
}
table {
    padding-left: 25px;
    padding-right: 25px;
}
table:last-child {
    padding-bottom: 50px;
}

table .song-title.active {
    
}
.song-title {
    font-size: 22px;
    display: block;
    padding-top: 20px;
}

.song-artist {
    font-size: 18px;
    opacity: .75;
    display: block;
}